<!DOCTYPE html>
<html>

<head>
    <title>Perfil</title>
</head>
<h3 id="user">Name of Manga: </h3>
<div id="div">
<p id="likeBtn" class="hola">&hearts;</p>
</div>
<div id="handler">
    <img id="image"></br>
    <button id="previous">Anterior</button>
    <button id="dashboard">Home</button>
    <button id="next">Siguiente</button>
    <ul id="list_comment" class="collection with-header">
    </ul>
</div>

<body>
    <script type="text/javascript" src="../js/chapter.js"></script>
    <script type="text/javascript" src="../js/comment.js"></script>
</body>

</html>