<!DOCTYPE html>
<html>
    <head>
        <title>Mangaku</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    </head>
    <body>
        <script type="text/javascript" src="../js/materialize.min.js"></script>
        
        <ul id='dropdown1' class='dropdown-content'>
                <li><a href="#modal_insert" class="modal-trigger" >Crear manga</a></li>
                <li><a href="#!" onClick="logout()">Log-out</a></li>
        </ul>


            <!--Navbar-->
            <nav class="black">
                <div class="nav-wrapper container">
                    <a href="#" class="brand-logo center">Mangaku</a>
                    
                    <form class="left hide-on-med-and-down" style="width:40%">
                        <div class="input-field">
                            <input id="search" placeholder="Busca tus mangas favoritos aqui" type="search" required>
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                    <!-- Login and register-->        
                    <ul id="login-register" class="hide-on-med-and-down right">
                        <li><a id="login" href="login.html">Login</a></li>
                        <li><a id="register" class="btn-large grey darken-2 pulse" href="register.html">Register</a></li>
                    </ul>
                    <!-- User-name and log-out-->
                    <ul id="name-logout" class="hide-on-med-and-down right" hidden>
                        <li><a id="user-name" href="config.html"></a></li>
                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Opciones<i class="material-icons right">arrow_drop_down</i></a></li>
                    </ul>
                </div>
            </nav>

            <div id="btn_edit" class="fixed-action-btn" hidden>
                    <a class="btn-floating btn-large black">
                        <i class="large material-icons">mode_edit</i>
                    </a>
                    <ul>
                        <li><a href="#modal_edit" class="btn-floating black tooltipped modal-trigger" data-position="left" data-tooltip="Editar Manga"><i class="material-icons">build</i></a></li>
                        <li><a class="btn-floating black tooltipped" data-position="left" data-tooltip="Subir capitulo"><i class="material-icons">file_upload</i></a></li>
                        <li><a id="deletebtn" class="btn-floating black tooltipped" data-position="left" data-tooltip="Eliminar Manga"><i class="material-icons">cancel</i></a></li>
                    </ul>
            </div>

            <div id="modal_insert" class="modal">
                    <div class="modal-content">
                        <h4 class="center">Crea tu manga!</h4>
                        <div class="row">
                                <form>
                                        <div class="input-field col s6">
                                                <i class="material-icons prefix">account_circle</i>
                                                <input placeholder="Name Manga" id="name_manga" type="text" class="validate black-text">
                                        </div>
                                        <div class="input-field col s6">
                                            <select id="genres_manga" multiple>
                                                    <option value="" disabled selected>Choose your option</option>
                                            </select>
                                            <label>Choose manga genre</label>
                                        </div>
                                        <div class="input-field col s12">
                                                <i class="material-icons prefix">insert_emoticon</i>
                                                <textarea placeholder="Synopsis" id="synopsis_manga" class="materialize-textarea"></textarea>
                                        </div>                       
                                </form>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <a id="modalbtn" href="#!" class="modal-close waves-effect waves-green btn-flat black white-text">Crear</a>
                    </div>
            </div>

            
            <div id="modal_edit" class="modal">
                    <div class="modal-content">
                        <h4 class="center">Edita tu manga!</h4>
                        <div class="row">
                                <form>
                                        <div class="input-field col s6">
                                                <i class="material-icons prefix">account_circle</i>
                                                <input placeholder="Name Manga" id="name_edit" type="text" class="validate black-text">
                                        </div>
                                        <div class="input-field col s6">
                                            <select id="genres_edit" multiple>
                                                    <option value="" disabled selected>Choose your option</option>
                                            </select>
                                            <label>Choose manga genre</label>
                                        </div>
                                        <div class="input-field col s12">
                                                <i class="material-icons prefix">insert_emoticon</i>
                                                <textarea placeholder="Synopsis" id="synopsis_edit" class="materialize-textarea"></textarea>
                                        </div>                       
                                </form>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <a id="modalbtn" href="#!" class="modal-close waves-effect waves-green btn-flat black white-text">Crear</a>
                    </div>
            </div>

            <!--End Navbar-->
            <!--Div-->
                        
            <div class="grey">
                <div class="" style="height:50vh">
                    <div class="container">
                        <br>
                        <h3 id="title"class="center">Lorem, ipsum.</h3>
                        <br>
                        <span id="synopsis" class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo exercitationem odit maiores. Nisi sequi fugit perferendis laborum dolores itaque ducimus modi repellendus, sit minima, maxime aperiam quod? Veritatis nam saepe cumque tempore, ut repellendus libero ab, explicabo, laboriosam autem similique!</span>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col s8">
                                    <h6>Genres:</h6>
                                    <h7 id="genres">Lorem</h7>
                            </div>
                            <div class="col s4">
                                    <h6>Status:</h6>
                                    <h7 id="status">Lorem</h7>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="black white-text center" style="height:5vh">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, magnam?
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <br>
                    <div class="col s8">
                        
                        <div class="row">
                            <div class="col s4">
                                <h6>Lista de capitulos:</h3>
                            </div>
                        </div>
                        
                    <ul id="list_chapter" class="collection with-header">
                        <!--Molde:
                            <li class="collection-item"><div>Lorem<a href="#!" class="secondary-content"><i class="material-icons black-text">play_arrow</i></a></div></li>
                        -->
                        <li class="collection-item"><div>Capitulo chabacano 1<a href="#!" class="secondary-content"><i class="material-icons black-text">play_arrow</i></a></div></li>
                        <li class="collection-item"><div>Capitulo chabacano 2<a href="#!" class="secondary-content"><i class="material-icons black-text">play_arrow</i></a></div></li>
                        <li class="collection-item"><div>Capitulo chabacano 3<a href="#!" class="secondary-content"><i class="material-icons black-text">play_arrow</i></a></div></li>
                    </ul>
                
                    </div>

                    <div class="s4">
                        <h6>
                            Comentarios:
                        </h6>
                    </div>
                </div>
            </div>

              
            <!--End Div-->

        <script src="../js/creatorManga.js"></script>    
        <script src="../js/renderNavBar.js"></script>
        <script src="../js/renderManga.js"></script>
        <script src="../js/editManga.js"></script>
        <!-- Esto se cambiara y se hara el codigo cuando lo habilite-->
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.fixed-action-btn');
                var instances = M.FloatingActionButton.init(elems);
            });

            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.dropdown-trigger');
                var instances = M.Dropdown.init(elems);
            });

            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.modal');
                var instances = M.Modal.init(elems);
            });

            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('select');
                var instances = M.FormSelect.init(elems);
            });

            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.tooltipped');
                var instances = M.Tooltip.init(elems);
            });
        </script>

    </body>
</html>